<?xml version="1.0"?>
<configuration>
  <!--全局错误异常捕获配置-->
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="Mir2" value="SqlServer2005Repository" />
  </appSettings>
  <connectionStrings configSource="Config\DB.connection" />
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}\Log" />
    <variable name="normalRealmServerLog" value="${date:format=yyyyMMddHH}.log" />
    <variable name="archiveRealmServerLog" value="${level}-{#####}.log" />
    <targets>
      <target name="console" type="AsyncWrapper">
        <target type="ColoredConsole" layout="(${longdate}) ${callsite} [${level}] ${message} ${exception:format=tostring}" />
      </target>
      <target name="file" type="AsyncWrapper">
        <target type="File" fileName="${logDirectory}\${normalRealmServerLog}" encoding="utf-8" archiveEvery="ArchiveEveryMode.Day" archiveFileName="${logDirectory}\${archiveRealmServerLog}" archiveNumbering="ArchiveNumberingMode.Rolling" maxArchiveFiles="10000" layout="(${longdate}) ${callsite} [${level}] ${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file" />
    </rules>
  </nlog>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
<startup useLegacyV2RuntimeActivationPolicy="true"></startup>
</configuration>
